body {
    background-color: #ffffff!important;
    color: rgb(0, 0, 0)!important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.simple {
    text-align: center;
    padding-right: 6em;
    padding-left: 6em;
}

.damier_adventures {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.adventure_icon {
    height: 100%;
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
}

.icon_advanture {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.icon_advanture {
    transition: .3s;
}

.icon_advanture>div>li {
    font-size: larger;
}

.icon_advanture>div>li {
    margin-top: 0.1em;
    /*font-weight: bold;*/
    list-style-type: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: ease-in-out .2s
}

.icon_advanture>div>li:hover,
.lien_accordion:hover {
    color: #ff0004;
}

.icon_advanture>div>li:hover {
    transform: scale(1.1);
    font-weight: bold;
}

.icon_advanture:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.2em antiquewhite);
}

.icon_advanture img {
    width: 12vw;
    height: 12vw;
    margin: auto;
}

.adventure_icon {
    width: 16vw;
    height: 16vw;
}

.li_enigme {
    display: flex;
    flex-direction: column;
}

.li_enigme>p {
    padding-left: 0.5em;
}

.page_adventure>section,
section>ul>div,
.page_edit {
    background-color: rgb(253, 226, 226)!important;
    box-shadow: rgb(0, 0, 0) 0px 0.2em 0.5em;
    padding: 2em;
    border-radius: 2em;
    margin: 5vh 0;
}

article {
    align-items: center;
}

.flex_enigme {
    display: flex;
    flex-direction: row;
}

.flex_enigme>* {
    margin: 1rem 3rem;
}

.pages_edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#googleMap {
    height: 40em;
    width: auto;
    margin-top: 1em;
}

.flex_bouton {
    display: inline-flex;
    white-space: nowrap;
}

ul.signup_login {
    position: absolute;
    right: 0px;
}

ul.nav {
    position: absolute;
    left: 0px;
}

div.px-3 {
    padding-bottom: 1em!important;
    padding-top: 1em!important;
}

ul {
    margin-top: 1em!important;
    margin-bottom: 1em!important;
    list-style-type: none;
}

ul>li.titre {
    text-align: center;
}

.compass .title {
    display: flex;
    margin-right: 1rem;
}

main.container {
    margin-top: 1rem;
}

input[type=submit] {
    background-color: rgb(52, 58, 64)!important;
    color: rgb(255, 255, 255)!important;
    margin-right: 0.5rem;
    border: 0em;
}

input[type=submit]:hover {
    background-color: rgb(69, 82, 95)!important;
    border: 0em;
}

input[type=text],
input[type=password],
input[type=email],
#description {
    width: 120%;
}

input[type=file] {
    margin-left: 1em;
    flex: inherit!important;
    width: 20em!important;
}

input,
#googleMap,
#description {
    border-radius: 1em!important;
}

a.back {
    position: relative;
    left: 0px;
    margin-bottom: 0.5em;
}

.btn-submit-edit {
    text-align: center;
}

.choose_element {
    text-align: center;
    align-items: center;
}

#concepteurs {
    margin-bottom: 1em;
}

option {
    text-align: center;
    font-size: x-large;
}

#description {
    height: 15em;
}

footer {
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px -2px 1px, rgba(0, 0, 0, 0.09) 0px -4px 2px, rgba(0, 0, 0, 0.09) 0px -8px 4px, rgba(0, 0, 0, 0.09) 0px -16px 8px, rgba(0, 0, 0, 0.09) 0px -32px 16px;
    z-index: 6;
}

footer img {
    filter: drop-shadow(0 0 0.1rem rgb(255, 181, 181));
    width: 12vw;
    height: auto;
    margin-top: 1rem;
}

.foot {
    align-items: center;
    margin: 0 0 1rem 0;
    justify-content: space-around;
}