{% extends "base.html" %} {% block main %}
<a href="/adventure-{{ id }}" class="back">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#343a40" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg>
</a>
<div class="choose_element">
    {{ form.hidden_tag() }}
    <form method="post" action="/adventure-{{ id }}/add/concepteur">
        <h2 for="groupes">{{ form.concepteurs.label }}</h2> {{ form.concepteurs(class="form-control") }}
        <input type="submit" class="btn btn-classic" value="Ajouter">
    </form>
</div>
{% endblock %}