{% extends "base.html" %} {% block main %}
<a href="/" class="back">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#343a40" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
      </svg>
</a>
<section class="page_adventure">

    <section>
        <article>
            <section class="adventure_icon">
                <img id="img_adv" src="{{ url_for('static', filename='image/'+adventure.icon)  }}" alt="Image de {{ adventure.Advname }}">
            </section>
            <section>
                <h2> {{ adventure.Advname }}</h2>
                <p>{{ adventure.description }} </p>
                <p>Cette aventure a été créée par {{ adventure.name_creator }}.</p>
                {% if current_user.username in concepteurs%}
                <div class="flex_bouton">
                    <form class="DeleteAdventure" action="/delete/adventure-{{ adventure.id }}">
                        <input type="submit" class="btn btn-classic" value="Supprimer">
                    </form>
                    <form class="EditAdventure" action="/edit/adventure-{{ adventure.id }}">
                        <input type="submit" class="btn btn-classic" value="Modifier">
                    </form>
                    <form class="AjouterEnigme" action="/adventure-{{ adventure.id }}/add/enigma">
                        <input type="submit" class="btn btn-classic" value="Ajouter une étape">
                    </form>
                    {% if adventure.name_creator == current_user.username %}
                    <form class="AjouterConcepteur" action="/adventure-{{ adventure.id }}/add/concepteur">
                        <input type="submit" class="btn btn-classic" value="Ajouter un concepteur">
                    </form>
                    {% endif %}
                </div>
                {% else %}
                <p>Vous n'avez pas les droits sur cette aventure demander au créateur de vous ajouter.</p>
                {% endif %}
                <ul class="li_enigme">
                    {% if taille == 0 %}
                    <h5>Il n'y a pas d'étapes</h5>
                    {% else %}
                    <h4>Les Etapes :</h4>
                    {% set nb_etape = [0] %} {% for enigma in adventure.enigmas %}
                    <div class="flex_enigme">
                        <div>
                            {% if nb_etape.append(nb_etape.pop() + 1) %}{% endif %} {% set nb_question = [0] %}
                            <h5>Etape {{ nb_etape[0] }} :</h5>
                            <li>
                                <p>L'adresse du QRCode : {{ enigma.locationIndic }} </p>
                            </li>
                            <li>
                                <p>La Localisation du QRCode : {{ enigma.QRCodeLocation }} </p>
                            </li>
                            <li>
                                <p>La description : {{ enigma.descrip }}</p>
                            </li>
                            <li>
                                <p>La ressource : {{ enigma.ressource }}</p>
                            </li>
                            {% for question in enigma.questions %} {% if nb_question.append(nb_question.pop() + 1) %}{% endif %} {% endfor %}
                            <li>
                                <p>Nombre de questions : {{ nb_question[0] }}</p>
                            </li>
                            {% for concepteur in concepteurs %} {% if concepteur == current_user.username %}
                            <div class="flex_bouton">
                                <form class="modifierEnigme" action="/adventure-{{ adventure.id }}/enigma-{{ enigma.id }}">
                                    <input type="submit" class="btn btn-classic" value="Modifier l'Etape">
                                </form>
                                <form class="DeleteEnigme" action="/adventure-{{ adventure.id }}/delete/enigma-{{ enigma.id}}">
                                    <input type="submit" class="btn btn-classic" value="Supprimer l'Etape">
                                </form>
                                <form class="addQuestion" action="/adventure-{{ adventure.id }}/enigma-{{ enigma.id}}/question">
                                    <input type="submit" class="btn btn-classic" value="Modifier les Questions">
                                </form>
                            </div>
                            {% endif %} {% endfor %}
                        </div>
                        <div>
                            <button type="button" name="button" onclick="makeCode('{{enigma.id}}','{{nb_etape[0]}}','{{enigma.locationIndic}}')">Voir QRCode</button>
                            <button type="button" name="button" onclick="save('{{nb_etape[0]}}')">Télécharger</button>


                            <div id="qrcode{{ enigma.id }}"></div>
                            <script>
                                function makeCode(id, id_img, lien) {
                                    var div = document.getElementById("qrcode" + id);
                                    var img = document.images[id_img];
                                    if (img) {
                                        div.removeChild(img)
                                    }
                                    var qrcode = new QRCode("qrcode" + id, {
                                        text: "http://jindo.dev.naver.com/collie",
                                        width: 210,
                                        height: 210,
                                        colorDark: "#000000",
                                        colorLight: "#ffffff",
                                        correctLevel: QRCode.CorrectLevel.H
                                    });
                                    qrcode.clear();
                                    qrcode.makeCode(lien);

                                }

                                function save(id_img) {

                                    var src = document.images[id_img].src;
                                    console.log($('img').prop('src'));
                                    var link = document.createElement("a");

                                    document.body.appendChild(link); // for Firefox

                                    link.setAttribute("href", src);
                                    link.setAttribute("download", "qrcode.jpg");
                                    link.click();
                                }
                            </script>

                        </div>
                    </div>
                    {% endfor %}
                </ul>
                {% endif %}
            </section>
        </article>
    </section>
</section>
{% endblock %}