<html>
{% extends "bootstrap/base.html" %} {% block title %} Explore Game {% endblock %} {% block styles %} {{ super() }}
<link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/qrcode.min.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> {% endblock %} {% block navbar %}
<nav>
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center">
                <!-- <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap" color="white">
            <use xlink:href="#bootstrap"/></svg>
                </a> -->

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>

                        <a href="/" class="nav-link text-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="white" class="bi d-block mx-auto mb-1" viewBox="0 0 16 16">
                            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
                         </svg>
                        </a>

                    </li>
                </ul>

                <FONT face="Comic Sans MS">
                    <h1 class="titre">
                        <a class="icon-baseline">
                                Explore Game
                            </a>
                    </h1>
                </FONT>






                <ul class="signup_login">
                    <div class="text-end">
                        {% if not current_user.is_authenticated %}
                        <a type="button" href="/login" class="btn btn-light text-dark me-2">Login</a>
                        <a type="button" href="/signup" class="btn btn-primary">Sign-up</a> {% else %}
                        <ul style="list-style-type:none;">
                            <li>
                                <a class="navbar-brand">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                  </svg> {{ current_user.username }}
                                </a>
                            </li>
                            <li>
                                <a class="navbar-brand" href="/logout">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-door-closed" viewBox="0 0 16 16">
                    <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
                    <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
                  </svg> Logout
                                </a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </ul>
            </div>
        </div>
    </div>

</nav>
{% endblock %} {% block content %}
<main role="main" class="container">
    {% block main %}{% endblock %}
</main>
{% block footer %}
<footer class="bg-dark text-center text-white">
    <div class="foot">
        <img src={{ url_for( 'static', filename='image/logo_iut_info.png' ) }}>
        <section>
            <a class="btn btn-classic git" style="background-color: rgb(253, 226, 226)" href="https://gitlab.com/idir_marc/iuto-explore-game" role="button"><i class="bi-git"></i></a>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Site web Explore Game réalisé par Romain Aubrun, Rayane Hadi, Marc Idir & Romain Lopez
    </div>
</footer>
{% endblock %} {% endblock %}

</html>