{% extends "base.html" %} {% block main %}
<a href="/adventure-{{id_adv}}/enigma-{{id_eni}}/question" class="back">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#343a40" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg>
</a>
<section class="page_edit">
    <article>
        <section class="edit_question">
            <form method="POST" action="{{ url_for('create_question', id_eni=form.enigma_id.data)  }}" role="form">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.type.label(class=" control-label", for="type") }}
                    <div class="col-sm-10">{{ form.type(class_='form-select') }}</div>
                </div>
                <div class="form-group">
                    {{ form.text.label(class=" control-label", for="text") }}
                    <div class="col-sm-10">{{ form.text(size=50, class_="form-control") }}</div>
                </div>
                <div class="form-group">
                    {{ form.answer.label(class=" control-label ", for="answer") }}
                    <div class="col-sm-10">{{ form.answer(size=50, class_="form-control") }}</div>
                </div>
                <div class="form-group">
                    {{ form.option.label(class=" control-label ", for="option") }}
                    <div class="col-sm-10">{{ form.option(size=50, class_="form-control") }}</div>
                </div>
                <div class="btn-submit-edit">
                    <input type="submit" class="btn btn-success" value="Enregistrer">
                </div>
            </form>
        </section>
    </article>
</section>
{% endblock %}