{% extends "base.html" %} {% block main %}
<section>
    <div class="simple">
        <div>
            <h1> Creer une nouvelle Aventure ! </h1>
        </div>
    </div>
    <section class="page_edit">
        <form class="form_horizontal" action="/create/adventure" method="post" enctype="multipart/form-data">
            <div class="divhome">
                <h4>Nom de l'aventure :</h4>
                <div class="col-sm-10">{{ form.Advname(size=50, class_="form-control", placeholder="Name") }}</div>
                <h4>Description de l'aventure :</h4>
                <div class="col-sm-10">{{ form.description(size=20, class_="form-control", placeholder="description") }}</div>
                <h4>Charger une image :</h4>
                <div class="input-group mb-3">
                    <input id="file" class="form-control" type="file" name="file" value="Importer un fichier" accept=".png, .jpg, .jpeg, .svg">
                </div>
                <div class="btn-submit-edit">
                    <input type="submit" class="btn btn-classic" value="Créer projet">
                </div>
            </div>
        </form>
    </section>
</section>
{% endblock %}