{% extends "base.html" %} {% block main %}
<a href="/adventure-{{ form.adventure_id.data }}" class="back">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#343a40" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg>
</a>
<section class="page_edit">
    <form method="POST" action="{{ url_for('create_enigma', id=form.adventure_id.data) }}" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.QRCodeLocation.label(class=" control-label", for="QRCodeLocation") }}
            <div class="col-sm-10">{{ form.QRCodeLocation(size=50, class_="form-control") }}</div>
            <div id="googleMap"></div>


            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

            <script>
                var map = L.map('googleMap').setView([47.8439776, 1.9262353], 13);
                var lastMarker;

                L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                    attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                    minZoom: 1,
                    maxZoom: 20
                }).addTo(map);

                var popup = L.popup();

                function onMapClick(e) {
                    if (lastMarker != undefined) {
                        lastMarker.remove();
                    }
                    var marker = L.marker(e.latlng).addTo(map);
                    lastMarker = marker;
                    fillCoords(e.latlng);

                    /*popup
                        .setLatLng(e.latlng)
                        .setContent(e.latlng.toString())
                        .openOn(map);*/
                }

                map.on('click', onMapClick);

                function fillCoords(latlngValue) {
                    e = document.getElementById("QRCodeLocation").value = `${latlngValue.lat},${latlngValue.lng}`;
                }
            </script>

        </div>

        <div class="form-group">
            {{ form.description.label(class=" control-label", for="descrip") }}
            <div class="col-sm-10">{{ form.description(size=50, class_="form-control") }}</div>
        </div>
        <div class="form-group">
            {{ form.typeRessource.label(class=" control-label", for="typeRessource") }}
            <div class="col-sm-10">{{ form.typeRessource(class_="form-select") }}</div>
        </div>
        <div class="form-group">
            {{ form.ressource.label(class=" control-label", for="ressource") }}
            <div class="col-sm-10">{{ form.ressource(size=50, class_="form-control") }}</div>
        </div>
        <div class="btn-submit-edit">
            <input type="submit" class="btn btn-success" value="Enregistrer">
        </div>
    </form>
</section>
{% endblock %}