{% extends "base.html" %} {% block main %}
<section>
    <div class="simple">
        <h1> Choissisez l'Aventure à modifier ! </h1>
        <form class="createAdv" action="/create/adventure">
            <input type="submit" class="btn btn-classic" value="Créer un nouveau projet d'Aventure">
        </form>
    </div>
</section>
<section class="damier_adventures damier_accueil">
    {% for x in adventures %}
    <div class="sample">
        <a href="/adventure-{{ x.id }}" title="{{ x.Advname }}">
            <div class="icon_advanture">
                <img src="{{ url_for('static', filename='image/'+x.icon)  }}" alt="Image de {{ x.Advname }}">
                <div>
                    <li>{{ x.Advname }}</li>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</section>
{% endblock %}