{% extends "base.html" %} {% block main %}
<section>
    <h2 class="titre_page">{{ titre }}</h2>
    <form class="form_horizontal" action="{{ url_for('login') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="box">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}.
            </div>
            {% endif %} {% endwith %}
            <div class="form-group">
                <label class="col-sm-2 control-label " for="username">{{ form.username.label }}</label>
                <div class="col-sm-10">{{ form.username(size=50, class_="form-control", placeholder='Username') }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="password">{{ form.password.label }}</label>
                <div class="col-sm-10">{{ form.password(size=50, class_="form-control", placeholder='Password') }}</div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-classic" value="Se connecter">
            </div>
        </div>
    </form>
</section>
{% endblock %}