{% extends "base.html" %} {% block main %}
<a href="/adventure-{{ id_adv }}" class="back">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#343a40" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
    </svg>
</a>
<section class="page_question">
    <ul class="li_question">
        <h4>Les Questions :</h4>
        <form class="AddQuestion" action="/enigma-{{ enigma.id }}/add/question">
            <input type="submit" class="btn btn-classic" value="Ajouter une question">
        </form>
        {% set nb_question = [0] %} {% for question in enigma.questions %}
        <div>
            {% if nb_question.append(nb_question.pop() + 1) %}{% endif %}
            <h5>Question {{ nb_question[0] }} :</h5>
            <li>
                <p>Le type : {{ question.type }} </p>
            </li>
            <li>
                <p>Le text : {{ question.text }} </p>
            </li>
            <li>
                <p>La reponse : {{ question.answer }}</p>
            </li>
            <li>
                <p>L'option : {{ question.option }}</p>
            </li>
            <div class="flex_bouton">
                <form class="modifierQuestion" action="/adventure-{{ enigma.adventure_id }}/enigma-{{ enigma.id }}/question-{{ question.id}}">
                    <input type="submit" class="btn btn-classic" value="Modifier">
                </form>
                <form class="DeleteQuestion" action="/enigma-{{ enigma.id }}/delete/question-{{ question.id}}">
                    <input type="submit" class="btn btn-classic" value="Supprimer">
                </form>
            </div>
        </div>
        {% endfor %}

    </ul>
</section>
{% endblock %}