{% extends "base.html" %} {% block main %}
<section>
    <h2 class="titre_page">{{ titre }}</h2>
    <form class="form_signup" action="{{ url_for('signup') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="box">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}. <a href="{{ url_for('login') }}">Connectez-vous</a>.
            </div>
            {% endif %} {% endwith %}

            <div class="form-group">
                <label class="col-sm-2 control-label" for="username">{{ form.username.label }}</label>
                <div class="col-sm-10">{{ form.username(size=50, class_="form-control", placeholder='Username') }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="mail">{{ form.mail.label }}</label>
                <div class="col-sm-10">{{ form.mail(size=50, class_="form-control", placeholder='Mail') }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="password">{{ form.password.label }}</label>
                <div class="col-sm-10">{{ form.password(size=50, class_="form-control", placeholder='Password') }}</div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="verifpassword">{{ form.verifpassword.label }}</label>
                <div class="col-sm-10">{{ form.verifpassword(size=50, class_="form-control", placeholder='Password') }}</div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-classic" value="S'inscrire">
            </div>
        </div>
    </form>
</section>
{% endblock %}